
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Voici le potin numéro <%= id%> </h1>
	<% gossips.each do |gossip| %>
  <p> Le nom de l'auteur : <%= gossip.author%> 
	<p> Le contenu du potin :	<%= gossip.content%> </p>
	<a href="/edit/gossip/<%= id%>"><button type="button" class="btn btn-lg btn-block btn-secondary">Modifier</button></a>
	<br/>
	<br/>
	<% end%>
	<a href="/"><button type="button" class="btn btn-lg btn-block btn-secondary">Retour</button></a>
	<br/>
	<br/>
	<H2> Commentaire </H2>
	<p> Voici les commentaire : <p>
	<ul>
		<% comments.each do |commentaire| %>
		<li>
		<p><%= commentaire.id%></p>
	</li>
		<% end%>
	</ul>
	<br/>
  <a href="/create/commentaire/<%= id%>"><button type="button" class="btn btn-lg btn-block btn-secondary">Commenter</button></a>
</body>
</html>